form {
	margin-bottom: 1rem;
}

.table-container {
	width: 100%;
	overflow-x: scroll;
}

table {
	width: 100%;
	margin: 1rem auto;
	border-collapse: collapse;
}

td {
	padding: 0.5rem;
	border-left:  1px solid black;
	text-align: center;
}

td:first-of-type {
	border-left: none;
}

#notification {
	margin: 1rem 0;
	color: green;
	opacity: 0;
	animation: blink 1s steps(5, start) infinite;
}

#notification > .error {
	color: red;
}

#notification > .info {
	color: skyblue;
}

@keyframes blink {
	to {
		opacity: 1;
	}
}
